# Virtual environment (always exclude - users create their own)
venv/
.venv/
env/

# IDE settings
.idea/
.vs/
.vscode/

# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.egg-info
source/__pycache__/
source/audio_analysis_utils/__pycache__/
source/face_emotion_utils/__pycache__/
source/whisper/__pycache__/
source/whisper/.pytest_cache/
source/audio_face_combined/__pycache__/

# OS files
.DS_Store
thumbs.db
source/whisper/thumbs.db
source/whisper/.DS_Store

# Jupyter
.ipynb_checkpoints/
source/whisper/.ipynb_checkpoints/

# Backup files
/backup/
bkp/
no_tracking/
/other_files/
